body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Roboto";
}

canvas {
    background-color:black;
    width: 75%;

}

p {
    font-size: 2rem;
    padding: 20px;
}

#status-bar {
    display: flex;
}